* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/** general **/
a {
  text-decoration: none;
  color: #363535;
  border-radius: 20px;
  padding: 7px;
}
a:hover {
  box-shadow: 0px 3px 5px #363535;
  color: #f7bf08;
  background-color: #363535;
}
header {
  background-color: #363535;
}

.top,
.nav {
  max-width: 1000px;
  margin: 0 auto;
}

/** body class **/

.body {
  background-color: #f7bf08;
}
/** nav class **/

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
.nav img {

}
.nav ul{
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.nav ul li {
  margin-left: 20px;
  list-style: none;
}

/** top classes **/

.top {
  display: flex;
  flex-direction: column;
  height: 750px;
  align-items: center;
  justify-content: center;

}
.top h1{
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 100px;
  color: #f7bf08;

}
.top h2{
  font-weight: 200;
  font-size: 25px;
  color: #eeeeee;
  margin-bottom: 50px;
}
.topline {
 margin-bottom: 60px;
 border: 2px solid #f7bf08;
 border-radius: 30px;
 width: 1500px;
}
.topdate {
  display: flex;
  justify-content: space-between;
  align-content: center;
  font-size: 30px;
}
.topdate section {
  display: flex;
  align-items: center;
  background-color: #f7bf08;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 10px;
  min-height: 148px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 100px;
  top: -70px;
  min-width: 450px;
}
.topdate section img{
  width: 20px;
  height: 20px;
  margin-right: 20px;
}
.topdate section p {
  color: black;
}
.topdate section p::first-line {
  color: #eeeeee;
}

/** sponsors class **/
  /*spon = sponsor*/

.sponsors {
  height: 3000px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sponsorsabout {
  font-family: Helvetica, Arial, sans-serif;
  color: black;
  font-size: 21px;
  max-width: 1000px;
  margin: 0 auto;
}

.sponsorscontent {
  max-width:;
  height: 87%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 30px;
}
.sponsorscontent div {
  display: flex;
  margin: 0 auto;
}
.sponsorscontent > p,
.sponsorscontent > div,
.sponsorscontent > article,
.sponsorscontent > footer {
  margin-top: 30px;
}
.spon {
  width: 300px;
  height: 150px;
  background-color: #f7bf08;
  margin-left: 5px;
  margin-right: 5px;
}
.spon img {
  width: 30%;
}
.sponmulti img {
  width: 30px;
  margin-left: 10px;
  margin-right: 10px;
}
.sponmulti {
  display: flex;
  flex-wrap: wrap;
}
.spon h2 {
  color: #24648c;
  font-size: 20px;
  font-weight: 100;
  border-bottom: 1px solid #24648c;
}
.sponsors-container {
  display: flex;
  align-content: center;
  flex-direction: column;
  height: 1000px;
  width: 100%;
  justify-content: center;
  background-color: #363535;
  margin-top: 20px;
}
.sponsor-container1{

}
.sponsor-container2{
  display: flex;
}
/** footer **/

.footer {
  background-color: grey;
  height: 13%;
}
/** about **/

.about {
  box-shadow: 5px 5px 10px black;
  padding: 30px;
  max-width: 1500px;
  background-color: #363535;
  border-radius: 30px;
  color: #f7bf08;
}
.about p {
  font-size: 18px;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.2;
  letter-spacing: 1px;
  padding-right: 20px;
}
.about p::first-line {
  font-weight: 550;
  font-size: 21px;
  line-height: 2.0;
}
.about p:not(:first-of-type) {
  padding-left: 20px;
  border-left: 2px solid #f7bf08;
}
/** connect **/

.connect div img,
.connect img {
  width: 40px;
  color: white;
}
.connect div img {
  margin-left: 30px;
}
.connect p {
  font-size: 33px;
  font-family: Helvetica, Arial, sans-serif;
  color: black;
  font-weight: 400;
  padding-left: 10px;
}
.connect div {
  margin-left: 30px;
  margin-right: 85px;
}
.connect {
  display: flex;
  background-color: #f7bf08;
  justify-content: center;
  align-items: center;
  height: 120px;
}

/** content **/
.content {
  display: flex;
  max-width: 100%;
}
.content p::first-line {
  font-size: 35px;
  font-weight: 300;
  font-family: Helvetica, Arial, sans-serif;
  color: black;
}
.content p {
  color: gray;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 22px;
  line-height: 1.5;

}
.content input {
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  display: flex;
  align-self: center;
  background-color: #768591;
  height: 45px;
  padding-left: 20px;
  padding-right: 20px;
}
.content input:hover {
  background-color: #35aadc;
}
